@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply bg-gray-50;
}

input
{
    @apply px-2;
}

 .@c-header-toolbar
{
    display:inline-block;
    padding:4px 4px;

    @apply space-x-8;
}

 .@c-day
 {
    @apply m-8;
 }

 .@c-scrollgrid-sync-table
 {
    @apply:w-full;
 }

 .@c-view
 {
    @apply w-full h-full lg:h-3/4 xl:h-2/3 bg-white;
 }

  .@c-h-event
  {
    @apply bg-violet-500 border border-violet-600;
  }